TMDB_ACCESS_TOKEN="paste-your-read-access-token-here"
ALLOWED_ORIGIN="https://jrscott812.github.io"
CATALOG_URL="https://catalog.library.taylor.edu/cgi-bin/koha/opac-search.pl"
DEFAULT_SHELF_ITEMNUMBER="2274508"